.d-item {
  display: flex;
  text-align: center;
  color: var(--surface-0);
  justify-content: space-between;

  .pi {
    font-size: 4em;
    margin-bottom: 15px;
  }

  .name {
    font-size: 1.4em;
  }

  .count {
    font-size: 1.5em;
    margin-top: 50px;
  }
}

.d-orders {
  // background: rgb(230, 246, 60);
  // background: linear-gradient(
  //   90deg,
  //   rgba(230, 246, 60, 1) 0%,
  //   rgba(228, 140, 17, 1) 35%,
  //   rgba(228, 36, 11, 1) 100%
  // );
  background: rgb(60, 246, 244);
  background: linear-gradient(
    90deg,
    rgba(60, 246, 244, 1) 0%,
    rgba(17, 131, 228, 1) 30%,
    rgba(11, 52, 228, 1) 73%
  );
}

.d-products {
  // background: rgb(233, 246, 60);
  // background: linear-gradient(
  //   90deg,
  //   rgba(233, 246, 60, 1) 0%,
  //   rgba(228, 193, 17, 1) 30%,
  //   rgba(228, 36, 11, 1) 73%
  // );
  background: rgb(60, 230, 246);
  background: linear-gradient(
    90deg,
    rgba(60, 230, 246, 1) 0%,
    rgba(17, 121, 228, 1) 30%,
    rgba(11, 23, 228, 1) 73%
  );
}

.d-users {
  background: rgb(60, 246, 244);
  background: linear-gradient(
    90deg,
    rgba(60, 246, 244, 1) 0%,
    rgba(17, 131, 228, 1) 30%,
    rgba(11, 52, 228, 1) 73%
  );
}

.d-totalSales {
  background: rgb(60, 230, 246);
  background: linear-gradient(
    90deg,
    rgba(60, 230, 246, 1) 0%,
    rgba(17, 121, 228, 1) 30%,
    rgba(11, 23, 228, 1) 73%
  );
}
