header {
  margin-bottom: 25px;
  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 25px; //padding-top: 22px;
  }

  .navigation {
    padding-top: 32px; //25px;
  }

  .tools {
    padding-top: 32px; //38px;
    .pi {
      margin-right: 10px;
    }
  }
}
