header {
  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 22px;
  }

  .navigation {
    padding-top: 22px;
  }

  .tools {
    padding-top: 22px;
    .pi {
      margin-right: 10px;
    }
  }
}
