<div class="leftSide">
  <!-- Header -->
  <div class="header">
    <div class="userimg">
      <img src="../../../../assets/images/mypic.jfif" class="cover" alt="" />
    </div>
    <div class="nav_icons">
      <li><button>1</button></li>
      <li><button>2</button></li>
      <li><button>3</button></li>
      <!-- <li><ion-icon name="scan-circle-outline"></ion-icon></li>
      <li><ion-icon name="chatbox"></ion-icon></li>
      <li><ion-icon name="ellipsis-vertical"></ion-icon></li> -->
    </div>
  </div>
  <!-- Search -->
  <div class="search_chat">
    <div>
      <input type="text" placeholder="Search or start new chat" />
      <i class="pi pi-times"></i>
      <!-- <ion-icon name="search-outline"></ion-icon> -->
    </div>
  </div>
  <!-- chat List -->
  <div class="chatlist" *ngFor="let room of rooms">
    <div class="block active" (click)="selectUser(room)">
      <div class="imgbx">
        <img class="cover" [src]="room.userImage" alt="" />
      </div>
      <div class="details">
        <div class="listHead">
          <h4>{{ room.name }}</h4>
          <p class="time">room</p>
        </div>
        <div class="message_p">
          <p>How to send messageHow to send message</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="chatlist">
    <div class="block active">
      <div class="imgbx">
        <img class="cover" src="../../../../assets/images/mypic.jfif" alt="" />
      </div>
      <div class="details">
        <div class="listHead">
          <h4>Kote Kirkitadze</h4>
          <p class="time">20:05</p>
        </div>
        <div class="message_p">
          <p>How to send messageHow to send message</p>
        </div>
      </div>
    </div>
    <div class="block unread">
      <div class="imgbx">
        <img class="cover" src="../../../../assets/images/mypic.jfif" alt="" />
      </div>
      <div class="details">
        <div class="listHead">
          <h4>Kote Kirkitadze</h4>
          <p class="time">20:05</p>
        </div>
        <div class="message_p">
          <p>Hi</p>
          <b>1</b>
        </div>
      </div>
    </div>
  </div> -->
