<div class="leftSide">
  <!-- Header -->
  <div class="header">
    <div class="userimg">
      <img [src]="currentUser?.image" class="cover" alt="" />
    </div>
    <div class="nav_icons">
      <li><button>1</button></li>
      <li><button>2</button></li>
      <li><button (click)="logOut()">Log Out</button></li>
    </div>
  </div>
  <!-- Search -->
  <div class="search_chat">
    <div>
      <input type="text" placeholder="Search or start new chat" />
    </div>
  </div>
  <!-- chat List -->
  <div class="chatlist" *ngFor="let room of rooms">
    <div
      class="block"
      (click)="selectUser(room)"
      [ngClass]="[checkSelection(room) ? 'active' : '']"
    >
      <div class="imgbx">
        <img class="cover" [src]="room.userImage" alt="" />
      </div>
      <div class="details">
        <div class="listHead">
          <h4>{{ room.name }}</h4>
          <p class="time">room</p>
        </div>
        <div class="message_p">
          <p>How to send messageHow to send message</p>
        </div>
      </div>
    </div>
  </div>
</div>
