<div class="action" (click)="toggleMenu()">
  <div class="profile">
    <img
      class="profile-image"
      *ngIf="currentUserId && userImage"
      [src]="userImage"
      alt=""
    />
    <i
      *ngIf="!currentUserId || !userImage"
      class="pi pi-user p-text-secondary"
      style="font-size: 1.5rem"
    ></i>
  </div>
  <div class="menu active" *ngIf="isActive">
    <!-- <h3>User menu <br /><span>Website Designer</span></h3> -->
    <h3>{{ userName }}</h3>

    <ul *ngIf="isAuth">
      <li>
        <img class="profile-image" *ngIf="userImage" [src]="userImage" alt="" />
        <i
          *ngIf="!userImage"
          class="pi pi-user p-text-secondary"
          style="font-size: 1.5rem"
        ></i>
        <a (click)="goProfile()">My profile</a>
      </li>
      <li>
        <i class="pi pi-history"></i>
        <a (click)="toOrderHistory()">Order history</a>
      </li>
      <li class="logOut">
        <i class="pi pi-sign-out"></i>
        <span (click)="logOut()">Log out</span>
      </li>
    </ul>
  </div>
</div>
