<div class="action" (click)="toggleMenu()">
  <div class="profile">
    <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem"></i>
  </div>
  <div class="menu active" *ngIf="isActive">
    <!-- <h3>User menu <br /><span>Website Designer</span></h3> -->
    <h3>User menu</h3>

    <ul *ngIf="isAuth">
      <li>
        <i class="pi pi-user"></i>
        <a (click)="goProfile()">My profile</a>
      </li>
      <li>
        <i class="pi pi-history"></i>
        <a (click)="toOrderHistory()">Order history</a>
      </li>
      <li class="logOut">
        <i class="pi pi-sign-out"></i>
        <span (click)="logOut()">Log out</span>
      </li>
    </ul>
  </div>
</div>
